.txt-blue {
  color: #47769f;
}
.display-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.large {
  font-size: 30px;
  height: 37.5px;
}
.button-blue {
  color: white;
  background-color: #3d64ac;
}
.button {
  width: 50%;
}
.py-8 {
  padding: 10% 0;
}
.centr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 60px;
  height: 60px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signin {
  width: 300px;
}
.fs-7 {
  font-size: 12px;
}
